@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Space+Grotesk:wght@300;400;700&display=swap');

* {
     padding: 0px; margin: 0px;
     font-family: 'Days One', 'Space Grotesk';
     text-decoration: none;
     transition: all .2s ease-out;
     scroll-behavior: smooth;
     box-sizing: border-box;
     cursor: none !important;
}
* ::-webkit-scrollbar {
     display: none;
}
body {
     cursor: none;
}
.cursor-dot {
     width: 5px;
     height: 5px;
     background-color: #000000;
     border-radius: 50%;
}
.cursor-circle {
     width: 30px;
     height: 30px;
     border: 2px solid #000000;
     border-radius: 50%;
}
.cursor-circle, .cursor-dot {
     position: fixed;
     top: 0;
     left: 0;
     transform: translate(-50%, -50%);
     z-index: 999;
     pointer-events: none;
}
.cursor-circle.white { border: 2px solid #000000; }
.cursor-circle.black { border: 2px solid #ffffff; }
.cursor-dot.white { background-color: #000000; }
.cursor-dot.black { background-color: #ffffff; }
header {
     width: 70px;
     height: 100vh;
     z-index: 20;
}
header .nav-contents {
     height: 80vh;
}
header nav {
     transform: rotate(90deg);
}
header nav a {
     text-decoration: none;
     opacity: 0.8;
}
header nav a:hover {
     text-decoration: line-through;
     opacity: 1;
}
header nav a.active {
     text-decoration: line-through;
     opacity: 1;
}
header .navbar {
     display: none;
}
header .state-icon {
     font-size: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0.8;
}
header .state-icon:hover {
     opacity: 1;
}
.content-section {
     height: 100vh;
     width: 100%;
     z-index: 1;
     overflow-y: auto;
}
.content-section a {
     transition: 300ms;
     text-decoration: none;
}
.home .container {
     padding-top: 5%;
}
.home .container h1 {
     font-size: 60px;
}
.home .container h1.black {
     color: #000;
     text-shadow: 5px 5px #00000026;
}
.home .container h1.white {
     color: #fff;
     text-shadow: 5px 5px #ffffff26;
}
.string {
     height: 170px;
     width: 10px;
}
.cap {
     height: 150px;
     width: 200px;
     border-radius: 100% 100% 10% 10%;
     position: relative;
}
.spot-light {
     position: absolute;
     top: 17rem;
     z-index: -1;
}
.spot-light .circle-1 {
     height: 80px;
     width: 100px;
     background-color: black;
     border-radius: 0% 0% 100% 100%;
     box-shadow: 1px 20px 120px #ffffff;
}
.spot-light .circle-2 {
     height: 80px;
     width: 100px;
     background-color: black;
     border-radius: 0% 0% 100% 100%;
     box-shadow: 1px 20px 150px #ffffff;
}
.spot-light .circle-3 {
     height: 80px;
     width: 100px;
     background-color: black;
     border-radius: 0% 0% 100% 100%;
     box-shadow: 1px 20px 200px #ffffff;
}
.spot-light .circle-4 {
     height: 80px;
     width: 100px;
     background-color: black;
     border-radius: 0% 0% 100% 100%;
     box-shadow: 1px 20px 250px #ffffff;
}
.bulb-off {
     height: 80px;
     width: 100px;
     border-radius: 0% 0% 100% 100%;
     position: relative;
}
.bulb-on {
     height: 80px;
     width: 100px;
     border-radius: 0% 0% 100% 100%;
     position: relative;
     box-shadow: 1px 25px 100px #fff;
}
.bulb-section {
     position: relative;
}
.skills-belt {
     width: 95%;
     top: 0rem;
     position: absolute;
     margin: auto;
     z-index: -2;
}
.skills-belt h1{
     font-size: 5rem;
     width: fit-content;
     margin: 10px auto;
     padding: 5px;  
     box-shadow: 10px 5px 0px #7a7a7a;
}
.about-section, .works-section {
     height: 100vh;
}
.contact-section {
     height: 90vh;
}
.about-section .container, .works-section .container, .contact-section .container {
     width: 80%;
     margin: auto;
}
.about-section .container h1, .works-section .container h1, .contact-section .container h1 {
     font-size: 70px;
}
.about-section .container h1.black, .works-section .container h1.black, .contact-section .container h1.black {
     color: #ffffff;
     text-shadow: 0px 0px 1px #000;
}
.about-section .container h1.white, .works-section .container h1.white, .contact-section .container h1.white {
     color: #23272b;
     text-shadow: 0px 0px 1px #fff;
}
.about-section .container p {
     text-align: justify;
     word-break: break-all;
}
.works-section {
     overflow: auto;
}
.accordion {
     overflow-y: auto;
}
.accordion .accordion-item {
     border: none;
}
.accordion-button:focus {
     box-shadow: none;
     background-color: transparent;
     color: #000;
}
.accordion-body a.black {
     border-bottom: 2px solid black;
}
.accordion-body a.white {
     border-bottom: 2px solid white;
}
input.black:focus, textarea.black:focus {
     border: 1px solid black !important;
}
input.white:focus, textarea.white:focus {
     border: 1px solid white !important;
}
input.black::placeholder, textarea.black::placeholder { color: #000000ad; }
input.white::placeholder, textarea.white::placeholder { color: #ffffffc9; }
@media (max-width: 700px) {
     header {
          width: 100%;
          height: fit-content;
          position: fixed;
          top: 0;
     }
     header .nav-1 {
          display: none;
     }
     header nav {
          transform: rotate(0deg);
     }
     header .navbar {
          display: contents;
     }
     header .navbar-nav {
          height: 90vh;
     }
     header .navbar-nav a {
          text-align: center;
          font-size: 45px;
     }
     header .navbar-nav .state-icon i, header .navbar-nav .state-icon span {
          padding-top: 10px;
          text-align: center;
          font-size: 35px;
     }
     .skills-belt h1 {
          display: none;
     }
     .about-section .container, .works-section .container, .contact-section .container {
          padding-top: 20%;
          width: 100%;
          margin: auto;
     }
     .contact-section .container h1 {
          font-size: 60px;
     }
     .cursor-circle, .cursor-dot {
          display: none;
     }
}